*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h1
{
    color: goldenrod;
}
h1::after
{
   content: '';
   display: block;
   border: 3px solid goldenrod;
   width: 10%;
   margin: 10px auto;
}
img
{
    
    height: 100px;
    width: 25%;
    margin: -50px 110px;
    border-radius: 50%;
    border: 10px solid white;
   
}